.top-bar {
    display: flex;
    border: 2px solid;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.user-section {
    display: flex;
    justify-content: center;  
    align-items: center;
}

.user-icon {
    size: 10px;
    border: 2px solid;
    border-radius: 90px;
    height: 26px;
    width: 26px;
}