/* Colous for Eventure:
#944BBB
#CEB1BE (?)
Dark mode: #210124b0 */

:root {
  font-family: Schibsted Grotesk;
  font-weight: 400;

  color-scheme: light dark;
  color: #CEB1BE;
  background-color: #210124b0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 450;
  text-decoration: inherit;
}
a:hover {
  color: #210124;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

select {
  appearance: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 8px 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  background-color: #fff; 
  color: inherit;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease; 
  display: inline-block;
  text-align: center;
}

select:focus {
  border-color: #CEB1BE;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5); 
}

select::-ms-expand {
  display: none; 
}

select:after {
  content: " ▼"; 
  font-size: 12px;
  color: #aaa;
  margin-left: 8px; 
  pointer-events: none; 
}


select option {
  padding: 8px 12px;
  background-color: #fff;
  color: #333;
  border-bottom: 1px solid; 
}

select option:hover {
  background-color: #f1f1f1; 
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #210124;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #3b0341e7;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
